@use '../base' as *;
@use '../utilities' as u;

.section-four {
    width: 375px;
    height: 1050px;
    padding-top: 20px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include u.breakpoint(desktop) {
        width: 1440px;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        padding-top: 0;
        margin-top: -20px;
    }
    & h2 {
        font-size: 1.6rem;
        font-weight: 600;
        color: $clr--very-dark-blue;
        margin-left: 25px;
        line-height: 1.4;
        @include u.breakpoint(desktop) {
            margin-left: 0;
        }
    }
}

.section-four-card-box {
    @include u.breakpoint(desktop) {
        width: 520px;
        padding-top: 3rem;
        margin-left: 2rem;
    }
}

.image-four {
    display: inline-block;
    content: url('../images/illustration-laptop-mobile.svg');
    @include u.breakpoint(desktop) {
        content: url('../images/illustration-laptop-desktop.svg');
        margin-left: -22.3%;
    }
}