// Primary
$clr--light-red: hsl(356, 100%, 66%);
$clr--very-light-red: hsl(355, 100%, 74%);
$clr--very-dark-blue: hsl(208, 49%, 24%);

//Neutral
$clr--white: hsl(0, 0%, 100%);
$clr--gray-blue: hsl(240, 2%, 79%);
$clr--very-dark-gray-blue: hsl(207, 13%, 34%);
$clr--very-dark-black-blue: hsl(240, 10%, 16%);
$clr--light-gray: #eee;

// Gradient
$clr--grad-very-light-red: hsl(13, 100%, 72%);
$clr--grad-light-red: hsl(353, 100%, 62%);

// Background Gradient
$clr--grad-dark-gray-blue: hsl(237, 17%, 21%);
$clr--grad-dark-sat-blue: hsl(237, 23%, 32%);